
a{
  color:#8f8f91;
  text-decoration: none;
}

.individual-button{
    padding: 0.5rem;
    border-radius: 8px;
    transition: 0.2s;
    margin: 5px;
    cursor: pointer;
    color: #8f8f91;
  }

  .active-individual-button{
    padding: 0.5rem;
    border-radius: 8px;
    background-color: #3a3b3c;
    margin: 5px;
    color: #8f8f91;
  }

  .individual-button:hover{
    opacity:1;
    background-color: #3a3b3c;

  }
