.container-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  color: var(--lightletterColor);
  background-color: #161618;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0px 40px 0px 40px;
  padding: 20px 40px 20px 40px;
  min-width: fit-content;
}