.form-headline {
  display: flex;
  align-self: center;
  justify-self: center;

  width: 100%;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;

  font-size: 2.4rem;
  font-weight: 600;
  color: var(--activeColor);
  background-color: var(--secondaryBackgroundColor);
}

.input-field-section {
  overflow: auto;
}

.single-input-section {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 20px 20px 20px 20px;
}

.input-field {
  padding: 0px 40px 0px 10px;
  font-size: 22px;
  height: 40px;
  outline: none;
  color: white;
  background-color: #121214;
  border-style: none;
  border-width: 1px;
  /* border-radius: 2px; */
  /* border-color: #3e4042; */
  /* line-height: 1px; */
}

.input-field:hover {
  border-color: var(--inactiveColor);
}

.input-field:focus {
  border-color: var(--activeColor);
}

.input-field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9b9b9b;
  opacity: 1; /* Firefox */
}

.input-clear-icon {
  position: absolute;
  right: 13px;
  font-size: 20px;
  top: 10px
}

.input-label-section {
  display: flex;
}

.input-right-label {
  margin-left: auto;
}

.submit-button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;

  font-size: var(--sliding-menu-button-size);
  user-select: none;
  padding: 20px;
  cursor: pointer;
  color: var(--activeColor);
  background-color: var(--secondaryBackgroundColor);
}

.submit-button:hover {
  opacity: 1;
  background-color: #3a3b3c;
}

.submit-button-icon {
  min-width: var(--sliding-menu-button-size);
}
