.form-headline {
  display: flex;
  align-self: center;
  justify-self: center;

  width: 100%;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;

  font-size: 2.4rem;
  font-weight: 600;
  color: var(--activeColor);
  background-color: var(--secondaryBackgroundColor);
}

.input-field-section {
  overflow: visible;
  background-color: var(--menuFrameColor);

}

.single-input-section {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 10px 10px 10px 10px;
}

.input-field {
  border-radius: 4px;
  padding: 0px 40px 0px 10px;
  font-size: 22px;
  height: 40px;
  outline: none;
  color: white;
  background-color: #121214;
  border-style: none;
  border-width: 1px;
  /* border-radius: 2px; */
  /* border-color: #3e4042; */
  /* line-height: 1px; */
}

.input-field:hover {
  border-color: var(--inactiveColor);
}

.input-field:focus {
  border-color: var(--activeColor);
}

.input-field::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--inactiveColor);
  opacity: 1;
  /* Firefox */
}

.input-tagsection {
  background-color: #121214;
  padding: 0px 40px 0px 10px;
}


.input-clear-icon {
  position: absolute;
  right: 13px;
  font-size: 20px;
  top: 10px
}

.input-label-section {
  display: flex;
}

.input-right-label {
  margin-left: auto;
}
.submit-button-container{
  margin: 10px 15px 10px 15px;
}



.submit-button {
  position: relative;
 border-radius: 4px;
  font-size: var(--sliding-menu-button-size);
  user-select: none;
  padding: 0.5rem;

  width: 100%;
  cursor: pointer;
  color: var(--text);
  background-color:#3a3b3c;
  font-size:16px;

}
.submit-button.active {
  position: relative;
 border-radius: 4px;
  font-size: var(--sliding-menu-button-size);
  user-select: none;
  padding: 0.5rem;

  width: 100%;
  cursor: pointer;
  color: var(--text);
  background-color: #f0f0f0;
  font-size:16px;

}



.submit-button:hover {
  opacity: 1;
  cursor: not-allowed;

}

.submit-button.active:hover{
  opacity: 0.75;
  cursor: pointer;
  transition: 0.2s ease all;

}

.submit-button-icon {
  min-width: var(--sliding-menu-button-size);
}

.input-tagsection {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

.multiselectbox {
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: var(--primaryBackgroundColor);
  padding: 0.85rem;
}

.profilecircle {
  cursor: pointer;
}

.avatar {
  position: relative;
  display: flex;
  border-radius: 99999px;
  border: none;
  background-color: #585a58;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  justify-content: center;

}

.firstLetter {
  position: absolute;
  justify-self: center;
  align-self: center;
  font-weight: bold;

}

.avatar-active {
  background-color: #3e47c4;
}


.circleOfCircle {
  position: absolute;
  border-radius: 99999px;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #121212;
  margin-left: 30px;
  margin-top: 30px;
}

.tick-circle {
  position: absolute;
  justify-self: center;
  align-self: center;
  border-radius: 99999px;
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #2c29e0;
  margin-left: 1px;
  margin-top: 1px;

}

.avatarcheck {
  position: absolute;
  padding-top: 2px;
  padding-left: 2px;
  font-size: small;
  color: #f0f0f0;
}

.avatar-description {
  width: 3rem;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 10px;
  text-align: center;
  color: var(--lightletterColor);
}

.multiselect-description {

  display: flex;
  gap: 8px;
  margin-left: 10px;
  font-size: small;
  margin-bottom: 10px;
  margin-top: 20px;
}

.label {

  align-self: center;
  /* font-size: 15px; */

}

.headercheck {
  position: absolute;
  font-size: xx-large;
  bottom: 0px;
}

.tick-cube {
  position: relative;
  height: 25px;
  width: 25px;
  min-width: 25px;
  background-color: var(--inactiveColor);
  border-radius: 3px;
  cursor: pointer;

}


/* Tags */
.multiselectbox.selectedTags {
  margin: 0px 10px 10px 10px;
}

.multiselectbox.tobeSelectedTags {
  margin: 0px 0px 0px 0px;
  background-color: var(--text);
  padding-top: 5px;
  /* background-color: aliceblue; */
}

.tags-header {
  margin: 10px 10px 0px 10px;
  font-size: small;
}

.tag-section {
  display: flex;
  padding: 5px;
  gap: 0rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.tag-section-name {
  gap: 1rem;
  color: var(--text);
  align-self: center;

}

.newtag-section {
  border-style: solid;
  color: var(--inactiveColor);
  padding: 1px 1px 1px 0px;
  border-radius: 4px;
}

.newtag-input {
  background-color: var(--menuFrameColor);
  border: none;
  outline: none;
  color: aliceblue;
  width: 7ch;
}

.newtag-input:hover {
  background-color: var(--menuFrameColor);
  color: aliceblue;
}

.newtag-input:focus {
  background-color: var(--menuFrameColor);
  color: aliceblue;
}

.newtagIcon {
  color: var(--inactiveColor);
  background-color:var(--menuFrameColor);
  align-self: center;
}

.selectTag{
  background-color:var(--text)
}

.trash.alternate.icon {
  color: var(--text)
}


.tag-section-option {
  align-self: flex-end;
}

.deleteTagButton, .checkTagButton {
  align-self: center;
  justify-self: center;
  cursor: pointer;

}

.deleteTagButton, .checkTagButton {
  color: #ffffff !important;
  font-size: larger;
}

/*Tags*/
.checkBox {
  margin-left: 20px;
}

.selectmembersbox {
  background-color: #121214;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.split-among-text {
  margin-left: 10px;

}

.splitamongAllChecker {
  margin-bottom: 5px;
}

.shaker {
  animation: shake-animation 4.72s ease;
  transform-origin: 20% 20%;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0)
  }

  1.78571% {
    transform: translate(2px, 0)
  }

  3.57143% {
    transform: translate(0, 0)
  }

  5.35714% {
    transform: translate(2px, 0)
  }

  7.14286% {
    transform: translate(0, 0)
  }

  8.92857% {
    transform: translate(2px, 0)
  }

  10.71429% {
    transform: translate(0, 0)
  }

  100% {
    transform: translate(0, 0)
  }
}