/* * {
box-sizing: border-box;
outline: none;
} */

/* ::-webkit-scrollbar {
  height: 0px;
} */

/* html, body {
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
} */

.Xmple {
  border: solid;
}

.Xmple:hover {
  background-color: green;
}

.box1 {
  display: flex;
  flex-direction: column;
  grid-area: box1 / box1 / box1 / box1;
  min-width: 0px;
  padding: 0.5rem 1rem;

}

.homewidget {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* font: inherit; */
  background-color: var(--secondaryBackgroundColor);
  color: rgb(25, 28, 31);
  border-radius: 5px;
  color: var(--letterColor);
}

.widget-header {
  /* column-gap: 1rem; */
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  padding-top: 1rem;
}


.group-selection-button {
  display: flex;
}

.option-button.granazi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 15px;
  width: 24px;
  height: 24px;
  border-radius: 99999px;

}

.cog.icon {
  align-self: center;
  color: rgb(177, 182, 182);
  font-size: 18px;
}

.button-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  background-color: #263951;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  transition: background-color 300ms cubic-bezier(0.15, 0.5, 0.5, 1) 0s, color 300ms cubic-bezier(0.15, 0.5, 0.5, 1) 0s, opacity 300ms cubic-bezier(0.15, 0.5, 0.5, 1) 0s, box-shadow 200ms cubic-bezier(0.4, 0.3, 0.8, 0.6) 0s;

}

.button-layout:hover {
  cursor: pointer;
  background-color: rgb(61, 77, 99);
  transition: 0.5s;
}

.angle.down.icon {
  /* align-self: center;
  color: rgb(177, 182, 182);
  font-size: 18px; */
}

.option-buttons {
  display: grid;
  -webkit-box-align: center;
  grid-auto-flow: column;
  column-gap: 0.5rem;
  grid-auto-columns: auto;
  grid-auto-columns: max-content;
  padding: 0.5rem;
  overflow: auto;
}

.option-button {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  font-weight: 500;
  font-size: 1.02rem;
  /* font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  border-radius: 10px;
  border: none;
  background-color: #263951;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  color: #2d88ff;
  transition: background-color 300ms cubic-bezier(0.15, 0.5, 0.5, 1) 0s, color 300ms cubic-bezier(0.15, 0.5, 0.5, 1) 0s, opacity 300ms cubic-bezier(0.15, 0.5, 0.5, 1) 0s, box-shadow 200ms cubic-bezier(0.4, 0.3, 0.8, 0.6) 0s;
  text-align: center;
  /* font-weight: 700; */
}

.option-button:hover {
  cursor: pointer;
  background-color: rgb(61, 77, 99);
  transition: 0.5s;

}

.y {
  align-self: center;
  font-weight: 100;
}

.option-button-icon {
  font-weight: 900;
  box-sizing: border-box;
  margin: 0px 0.5rem 0px 0px;
  padding: 0px;
  /* font: inherit; */
}

.selection-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  -webkit-box-align: center;

}

.group-name-button {
  --button-shadow-focus: 0 0 0 2px #fff, 0 0 0 4px #82b2f5;
  box-sizing: border-box;
  border: none;
  /* font: inherit; */
  background: transparent;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  padding: 0px;
  outline: none;
  border-radius: 0px;
  transition: box-shadow 200ms cubic-bezier(0.4, 0.3, 0.8, 0.6) 0s;

}

.group-name-button:enabled {
  cursor: pointer;
}

.button-position {
  box-sizing: border-box;
  margin: 0px 0px 0px 0.5rem;
  padding: 0px;
  /* font: inherit; */
}


.widget-subheader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--buttonPadd);
  color: var(--lightletterColor);
  /* font-family: "Segoe UI",  "Helvetica Neue", Helvetica, Arial, sans-serif; */
}


.transactions-header {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: normal;
  align-self: center;
}

.transaction-block {
  display: flex;
  flex-flow: column;
  border-radius: 0px;
  background-color: var(--secondaryBackgroundColor);

  /* transition: margin-top 300ms ease 0s, margin-bottom 300ms ease 0s; */
}

.transaction-button {
  display: flex;
  flex-direction: row;
  border: 0px;
  width: 100%;
  /* -webkit-box-align: center; */
  /* align-items: center; */
  text-align: left;
  /* font: inherit; */
  /* outline: none; */
  justify-content: flex-start;
  background-color: var(--secondaryBackgroundColor);
  border-radius: 10px;
  color: var(--lightletterColor);
  padding: var(--buttonPadd);
  transition: 0.2s;
}

.transaction-button:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  background-color: var(--hoverHighlightColor);
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: 0.125rem;
  order: 0;
  box-sizing: border-box;
  margin: 3px;
  /* font: inherit; */
  width: 2.5rem;
  height: 2.5rem;

}

.el {
  align-self: center;
  justify-self: center;
  font-size: 25px;
  color: var(--lightblue);
}

.group-title {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: normal;
  color: var(--lightletterColor)
}

.text-item-content {
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;
  right: 5px;
  /* font: inherit; */
  /* font-family: "Segoe UI",  "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375;
  letter-spacing: -0.00625em;
  align-self: stretch;
  display: flex;
  /* flex: 1 1 auto; */
  flex-flow: column;
  -webkit-box-pack: center;
  /* justify-content: center; */
  margin-right: 0.5rem;
  order: 1;
  overflow: hidden;
}

.amount {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
  letter-spacing: normal;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
  order: 2;
  overflow: hidden;
  text-align: right;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.total {
  padding-bottom: 10px;
  padding-top: 10px;
}

.all-personal-options,.history-friends-options {
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
  column-gap: 0.5rem;
  margin-top: 20px;
}

.all-active,.history-active,.members-active,.personal-active {
  padding: 0.5rem;
  border-radius: 8px;
  background-color: var(--secondaryBackgroundColor);
  color: var(--lightletterColor);
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.all-inactive,.history-inactive,.members-inactive,.personal-inactive{
  padding: 0.5rem;
  border-radius: 8px;
  background-color: var(--primaryBackgroundColor);
  color: #8f8f91;
  border: none;
  cursor: pointer;
}


.all:hover{
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  background-color: var(--hoverHighlightColor);
}

.transaction-history-container, .pending-transactions-container,.members-container {
  max-width: none;
  margin: 0px;
  margin-top: 10px;
  padding: 0px 0px 0px 0px;
}

.showall {
  margin-right: 200px;
  margin-left: 200px;
  cursor: pointer;
  color: #2d88ff;
  margin-top: 15px;
}

.sender{
  color:var(--orange);
}

.receiver {
  color: var(--green);
}

.transaction-history-header,.members-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--buttonPadd)
}

.transaction-history-header-total {
  flex: 1 1;
  text-align: right;

}

.box2 {
  background: rgb(140, 240, 140);
  grid-area: box2;

}

.box3 {
  background: rgb(122, 206, 255);
  grid-area: box3;
}

.box4 {
  background: rgb(148, 52, 111);
  grid-area: box4;
}

.box5 {
  background: rgb(168, 46, 46);
  grid-area: box5;
}

.box6 {
  background: lightsalmon;
  grid-area: box6;
}

.main-page {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* font: inherit; */
  min-height: 100vh;
  background: var(--primaryBackgroundColor);
  display: grid;
  grid-template-rows: 1fr auto auto 0px 0px;
  margin-left: auto;
  margin-right: auto;
  grid-template-areas:
    "box1"
    "box2"
    "box3"
    "box4"
    "box5";
}

@media screen and (min-width: 720px) {
  .main-page {
    grid-template-areas:
      "box2 . box1 . ."
      "box2 .box1 . ."
      "box4 box4 box4 box4 box4"
      "box5 box5 box5 box5 box5";
    grid-template-columns: 5.5rem 1fr 36.25rem 1fr minmax(5.5rem, auto);
  }

}

@media screen and (min-width: 1024px) {
  .main-page {
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
      "box2 . box1 . box4"
      "box2 . box3 . box4"
      ". . box5 . .";
    grid-template-columns: 6.5rem 1fr 39.25rem 1fr minmax(6.5rem, auto)
  }
}

@media screen and (min-width: 1280px) {
  .main-page {
    grid-template-columns: 15.5rem 1fr 40.5rem 1fr minmax(15.5rem, auto);
  }
}

@media screen and (min-width: 1920px) {
  .main-page {
    max-width: 84.875rem;
    grid-template-columns: 15.5rem 1fr 40.5rem 1fr 25rem
  }
}


.las.la-coins.el {
  color: var(--yellow);
}

/*Extra CSS for Modal fix  - anyhting below this line also exists in ModalFrame and can be deleted in order to revert back to original*/