.select-headline-section {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 100%;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;

  font-weight: 600;
  color: var(--activeColor);
  background-color: var(--secondaryBackgroundColor);
}

.select-headline {
  font-size: 2.4rem;
}

.select-right-headline {
  font-size: var(--sliding-menu-button-size);
  margin-left: auto;
}

.select-gray-box {
  background-color: #000000;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 0;
}

.select-button-section {
  overflow: auto;
}

.select-button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;

  font-size: var(--sliding-menu-button-size);
  user-select: none;
  /* padding: 0.5rem; */
  /* border-radius: 8px; */
  /* transition: 0.2s; */
  padding: 20px;
  cursor: pointer;
  color: var(--activeColor);
}

.select-button:hover {
  opacity: 1;
  background-color: #3a3b3c;
}

.select-button-icon {
  min-width: var(--sliding-menu-button-size);
}

.select-button-icon-red {
  color: #f88070;
  /* color: #811e1e; */
}

.select-button-icon-green {
  /* color: #00ba7c; */
  color: #3ba55c;
}

.select-button-text {
  overflow: hidden;
}

.select-button-right-text {
  margin-left: auto;
}
