.select {
  display: flex;
  flex-direction: column;

  position: fixed;
  bottom: 0;
  left: 50%;

  width: 100%;
  transform: translateX(-50%);
  max-height: 50%;
  overflow: auto;

  animation: inAnimation 50ms linear;
  z-index: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-color: var(--highlightBackgroundColor);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (orientation: landscape) {
  .select {
    max-width: calc(50%);
  }
}

@keyframes inAnimation {
  0% {
    bottom: -200px;
  }
  100% {
    bottom: 0px;
  }
}

/* @keyframes outAnimation {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: -500px;
  }
} */

.select-headline-section {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 100%;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;

  font-weight: 600;
  color: var(--activeColor);
  background-color: var(--secondaryBackgroundColor);
}

.select-headline {
  /* display: flex;
  align-self: center;
  justify-self: center; */

  /* width: 100%; */
  /* padding: 10px 20px 10px 20px; */
  /* box-sizing: border-box; */

  /* user-select: none; */
  font-size: 2.4rem;
  /* font-weight: 600; */
  /* color: var(--activeColor); */
  /* background-color: var(--secondaryBackgroundColor); */
}

.select-right-headline {
  font-size: var(--sliding-menu-button-size);
  margin-left: auto;
}

.select-gray-box {
  background-color: #000000;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 0;
}

.select-button-section {
  overflow: auto;
}

.select-button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;

  font-size: var(--sliding-menu-button-size);
  user-select: none;
  /* padding: 0.5rem; */
  /* border-radius: 8px; */
  /* transition: 0.2s; */
  padding: 20px;
  cursor: pointer;
  color: var(--activeColor);
}

.active-select-button {
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #3a3b3c;
  color: #8f8f91;
}

.select-button:hover {
  opacity: 1;
  background-color: #3a3b3c;
}

.select-button-icon {
  min-width: var(--sliding-menu-button-size);
}

.select-button-icon-red {
  color: #f88070;
  /* color: #811e1e; */
}

.select-button-icon-green {
  /* color: #00ba7c; */
  color: #3ba55c;
}

.select-button-text {
  overflow: hidden;
}

.select-button-right-text {
  margin-left: auto;
}
