.sliding-box {
  display: flex;
  flex-direction: column;

  position: fixed;
  bottom: 0;
  left: 50%;

  width: 100%;
  transform: translateX(-50%);
  max-height: 50%;


  /* animation: inAnimationFormBox 50ms linear; */
  z-index: 1;
  overflow: auto;

  user-select: none;
  background-color: var(--layer-1-color);
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
}

/* @media (orientation: landscape) {
  .sliding-box {
    max-width: calc(50%);
  }
} */

@keyframes inAnimationSlidingBox {
  from {
    bottom: -300px;
  }

  to {
    bottom: -0px;
  }
}

@keyframes outAnimationSlidingBox {
  from {
    bottom: -0px;
  }

  to {
    bottom: -300px;
  }
}



/* .out-area {
  background-color: #000000;
  opacity: 0.7;
  position: fixed;
  z-index: 0;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
} */