html,body{
    /* overflow: hidden ; */
}

.grid{
  height:100vh;
  display: grid;
  background: rgb(233, 232, 232);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)) ;
  /* grid-template-areas:"Box1 loginobject"; */
}
 
.containerbox{
    border-style: solid;
    border-radius: 5px;
    border-color:rgb(255, 255, 255); ;
    background: rgb(255, 255, 255);
    padding: 25px;
    margin: 20px;
    width: 24rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 17rem;
    justify-self: center;
    align-self: center;
 } 

.login-create{ /*parent of segment for login object*/
    /* grid-area: loginobject; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 15rem;
    align-self: center;
    padding-bottom: 0rem; 
}

    .Box1{
    background: lawngreen;
    /* grid-area: Box1; */
    }
    
#segment {
    background: none transparent;
    box-shadow: none;
    border: none;
    margin: 0rem;
    margin-top: 0rem;   
}

#homepagedivider{
    display: table;
    white-space: nowrap;
    height: auto;
    margin: '';
    line-height: 1;
    text-align: center;
    margin-top: 25px;
}