*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 .containerbox{
    padding: 50px;
    margin: 20px;
    width: 350px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 22rem;
    justify-self: center;
    align-self: center;
 } 

.grid{
  height:100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
  /* grid-template-areas:"Box1 loginobject"; */
}
 
.loginobject{ /*parent of segment for login object*/
    /* grid-area: loginobject; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 15rem;
    align-self: center;
    padding-bottom: 0rem; 
}

    .Box1{
    background: lawngreen;
    /* grid-area: Box1; */
    }
    
#homepage {
    background: none transparent;
    box-shadow: none;
    border: none;
    margin: 0rem;
    margin-top: 0rem;   
}

#homepagedivider{
    display: table;
    white-space: nowrap;
    height: auto;
    margin: '';
    line-height: 1;
    text-align: center;
    margin-top: 25px;
}


