#mainMenuSegment {

}

#mainMenu {
  overflow: visible;
}

#leftMenu {
  overflow: visible;
  scrollbar-width: none;
}

#rightMenu {
  overflow-x: visible;
  overflow-y: visible;
  scrollbar-width: none;
}

#menuItem {
  overflow: visible;
  min-width: 0px;
}

#dot {
  position: absolute !important;
  top: 10px !important;
  bottom: 0px !important;
  right: 0px !important;
  left: 28px !important;
  margin-top: 0px !important;
  margin-bottom: 8px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  min-width: 0px !important;
  min-height: 0px !important;
  width: 5px !important;
  height: 5px !important;
}
