.request-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button {
  /* Text in button in center */
  /* display: inline-flex;
  align-items: center;
  justify-content: center; */

  /* Button in flexbox in center */
  align-self: center;

  /* Width fits the text inside with some space */
  text-decoration: none;
  padding: 5px 18px 5px 18px;
  width: fit-content;

  white-space: nowrap;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  border-radius: 8px;
  margin: 0px 2px 0px 2px;
  cursor: default;
  /* background-color: #000000; */
  color: #8f8f91;
}

.nav-button:hover {
  color: #f4f4f4;
}
