/* Remove the code bellow to debug */

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

html, body, select {
  font-family: 'Inter', sans-serif;
  /* font-size: 14px; */
  user-select: none;
  height: 100vh;
  white-space: nowrap;

  --base-color: #406abf;
  --base-color-1: #4563A1;
  --tag-color-1: #c3dd86;
  --tag-color-2: #86dda0;
  --base-dark-color: #121212;
  --light-color: #EFF3FB;
  --layer-0-color: #131519;
  --layer-1-color: #26272B;
  --layer-2-color: #37383C;
  --layer-3-color: #47484B;
  --layer-4-color: #555659;
  --layer-5-color: #626366;
  --layer-6-color: #6E6F72;

  --buttonPadd: 1rem;
  /* scrollbar-width: none !important;
  min-width: 0px !important; */

  --primaryBackgroundColor: #121212;
  /* --secondaryBackgroundColor: #101011; */
  --secondaryBackgroundColor: #161618;
  --menuFrameColor: #1b1b1d;
  /* --activeColor: #f4f4f4; */
  --inactiveColor: #8f8f91;
  --sliding-menu-button-size: 1.4rem;
  --darkletterColor: #a1a4a8;
  --lightletterColor: #d3d3d3;
  --hoverHighlightColor: #3a3b3c;
  --yellow: #ffd400;
  --pink: #f91880;
  --purple: #7856ff;
  --orange: #ff7300;
  --green: #00ba7c;
  --lightblue: #1da1f3;
  --lightorange: #f88070;
  --color1: #6490E5;
  --color2: #F29A7E;
  --color3: #FFE897;
  --text:#26272B;


  color: var(--inactiveColor);
  background-color: var(--layer-0-color);
}

#root {
  height: inherit
}

.App {
  height: inherit
}

.overflow-auto {
  /* firefox */
  scrollbar-color: #858585 transparent;
  scrollbar-width: thin;
  overflow: auto;

  /* chrome */
  overflow: overlay;
}

.overflow-hidden {
  overflow: hidden
}

.relative {
  position: relative
}

.absolute {
  position: absolute
}

.fixed {
  position: fixed
}

.selectable {
  user-select: text
}

.t05 {
  font-size: 36px
}

.t1 {
  font-size: 32px
}

.t15 {
  font-size: 20px
}

.t2 {
  font-size: 22px
}

.t3 {
  font-size: 18px
}

.t4 {
  font-size: 16px
}

.t5 {
  font-size: 14px
}

.t6 {
  font-size: 12px
}

.regular {
  font-weight: 400
}

.medium {
  font-weight: 500
}

.semibold {
  font-weight: 600
}

.extrabold {
  font-weight: 700
}

.gap4 {
  gap: 4px
}

.gap6 {
  gap: 6px
}

.gap8 {
  gap: 8px
}

.light-color {
  color: var(--light-color)
}

.white {
  color: #FFFFFF
}

.layer0 {
  color: var(--layer-0-color)
}

.layer1 {
  color: var(--layer-1-color)
}

.layer2 {
  color: var(--layer-2-color)
}

.layer3 {
  color: var(--layer-3-color)
}

.layer4 {
  color: var(--layer-4-color)
}

.layer5 {
  color: var(--layer-5-color)
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.v-flex {
  display: flex;
  flex-direction: column;
}

.h-flex {
  display: flex;
  flex-wrap: nowrap;
}

.row {
  flex-direction: row
}

.column {
  flex-direction: column
}

.alignitems-center {
  align-items: center
}

.justcont-center {
  justify-content: center
}

.justcont-spacebetween {
  justify-content: space-between
}

.justcont-flexstart {
  justify-content: flex-start
}

.flex-1 {
  flex: 1;
}

.separator-0 {
  border-bottom: 1px solid;
  border-color: var(--layer-0-color);
}

.separator-1 {
  border-bottom: 1px solid;
  border-color: var(--layer-1-color);
}

.separator-2 {
  border-bottom: 1px solid;
  border-color: var(--layer-2-color);
}

.pointer {
  cursor: pointer
}

.shadow {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(0, 0, 0, 0.25) 1px 4px 12px;
}

.spin {
  /* animation: spin-animation 1s infinite; */
  animation: spin-animation 1s linear infinite;
}


@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.figma-main {
  height: inherit
}

.group-info-frame {
  box-sizing: border-box;
  height: 60px;
  padding: 0px 14px 0px 14px;
  justify-content: space-between;
  background-color: var(--layer-0-color);
  color: var(--light-color)
}

.group-options-icon {
  color: var(--layer-6-color);
}

.group-selector {
  color: var(--light-color);
  background-color: var(--layer-1-color);
}

.tab-switcher {
  height: 48px;
  box-sizing: border-box;
  padding: 0px 14px 3px 14px;
  justify-content: space-between;
}

.tab-switcher a {
  font-weight: 700;
}

.tab-button-active {
  color: var(--light-color);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: var(--base-color);
}

.tab-button-inactive {
  color: var(--layer-5-color);
  text-decoration: none;
}

.tab-button-inactive:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: var(--layer-1-color);
}

.tab-button-inactive:hover {
  color: var(--light-color);
}

.top-radius {
  border-radius: 14px 14px 0px 0px;
}

.expenses-tab {
  background-color: var(--layer-1-color);
}

.expense {
  box-sizing: border-box;
  padding: 14px 14px 14px 14px;
  height: 120px;
}

.floating-button {
  position: fixed;
  gap: 2px;
  border-radius: 6px;
  padding: 0px 10px 0px 4px;
  /* width: fit-content; */
  /* height: fit-content; */
  /* right: 52px; */
  bottom: 44px;
  right: 44px;
  /* transform: translateX(50%); */
  color: white;
  background-color: var(--base-color-1);
  border-color: var(--layer-2-color);
  border-width: 1px;
  border-style: solid;
}

.padding4 {
  padding: 4px
}

.padding1812 {
  padding: 18px 12px
}

.button-11 {
  /* gap: 2px; */
  border-radius: 4px;
  /* padding: 0px 10px 0px 4px; */

  box-sizing: border-box;
  color: var(--light-color);
  background-color: var(--layer-0-color);
  border-color: var(--layer-3-color);
  border-width: 1px;
  border-style: solid;
}

.group-selector-button {
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--light-color);
  background-color: var(--layer-0-color);
  border-color: var(--layer-2-color);
  border-width: 1px;
  border-style: solid;
}

.group-selector-button.highlighted-group {
  color: white;
  background-color: var(--base-color-1);
}

.floating-button {
  font-size: 34px;
}

.floating-button-text {
  font-size: 20px;
}

.expense .icon.ellipsis.vertical {
  color: var(--layer-6-color)
}

.expense-stat {
  gap: 6px;
}

.expense-stat-icon {
  color: var(--layer-3-color);
}

.expense-stat-text {
  color: var(--light-color);
}

.expense-options-icon {
  color: var(--layer-7-color);
}

.expense-tag {
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  color: var(--layer-2-color);
  font-weight: 500;
  width: fit-content;
}

.layer-1-color {
  background-color: var(--layer-1-color);
}

/* Webkit scrollbar */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
  background-color: var(--layer-3-color);
}

::-webkit-scrollbar-track {
  /* margin-block: 3px; */
  margin-top: 3px;
}

/* ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #3F6AC0;
}
::-webkit-scrollbar-track {
  margin-top: 0px
  margin-block: 10px;
  background: transparent
}

::-webkit-scrollbar {
  width: 6px;
  background: transparent
}*/

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-Thin.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}
