/* Remove the code bellow to debug */
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

html,body
{
  /* scrollbar-width: none !important;
  min-width: 0px !important; */
}

.App {
  text-align: center;
  /* min-width: 530px; */
  scrollbar-width: none;
}
