/* Remove the code bellow to debug */

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

html, body, select {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  user-select: none;
  height: 100vh;
  white-space: nowrap;

  /* --base-color: #406abf;
  --base-color-1: #4563A1;
  --tag-color-1: #c3dd86;
  --tag-color-2: #86dda0;
  --base-dark-color: #121212;
  --light-color: #EFF3FB;
  --layer-0-color: #131519;
  --layer-1-color: #26272B;
  --layer-2-color: #37383C;
  --layer-3-color: #47484B;
  --layer-4-color: #555659;
  --layer-5-color: #626366;
  --layer-6-color: #6E6F72; */

  --base-color: #406abf;
  --base-color-1: #4563A1;
  --tag-color-1: #c3dd86;
  --tag-color-2: #86dda0;
  --base-dark-color: #121212;
  --light-color: #f5f5f5;
  --layer-0-color: #171717;
  --layer-1-color: #1f1f22;
  --layer-2-color: #37383C;
  --layer-3-color: #47484B;
  --layer-4-color: #555659;
  --layer-5-color: #737373;
  --layer-6-color: #a3a3a3;
  --layer-7-color: #737373;

  /* --weekday-1: #d17d75;
  --weekday-2: #D1C275;
  --weekday-3: #9BD175;
  --weekday-4: #75C9D1;
  --weekday-5: #3D4B8F;
  --weekday-6: #7584D1;
  --weekday-0: #AB75D1; */

  --weekday-1: hsl(5, 30%, 80%);
  --weekday-2: hsl(50, 30%, 80%);
  --weekday-3: hsl(95, 30%, 80%);
  --weekday-4: hsl(185, 30%, 80%);
  --weekday-5: hsl(230, 30%, 80%);
  --weekday-6: hsl(275, 30%, 80%);
  --weekday-0: hsl(320, 30%, 80%);
/*
  --weekday-1: #d3eeca;
  --weekday-2: #c9a2a2;
  --weekday-3: #abeff9;
  --weekday-4: #c9bedf;
  --weekday-5: #fffee1;
  --weekday-6: #d3eeca;
  --weekday-0: #c9a2a2; */

  /* #d3eeca
  #c9a2a2
  #abeff9
  #c9bedf
  #fffee1 */

  --buttonPadd: 1rem;
  /* scrollbar-width: none !important;
  min-width: 0px !important; */

  --primaryBackgroundColor: #121212;
  /* --secondaryBackgroundColor: #101011; */
  --secondaryBackgroundColor: #161618;
  --menuFrameColor: #1b1b1d;
  /* --activeColor: #f4f4f4; */
  --inactiveColor: #8f8f91;
  --sliding-menu-button-size: 1.4rem;
  --darkletterColor: #a1a4a8;
  --lightletterColor: #d3d3d3;
  --hoverHighlightColor: #3a3b3c;
  --yellow: #ffd400;
  --pink: #f91880;
  --purple: #7856ff;
  --orange: #ff7300;
  --green: #00ba7c;
  --lightblue: #1da1f3;
  --lightorange: #f88070;
  --color1: #6490E5;
  --color2: #F29A7E;
  --color3: #FFE897;
  --text:#26272B;
  --label-color-0: #F07F75;
  --label-color-1: #ABE085;
  --label-color-2: #85D9E0;
  --label-color-3: #BA85E0;
  --label-color-4: #E0D185;
  --label-color-5: #85E0A3;
  --label-color-6: #8594E0;
  --label-color-7: #E085C2;



  color: var(--layer-6-color);
  background-color: var(--layer-0-color);
}

#root {
  height: inherit
}

.App {
  height: inherit
}

.overflow-auto {
  /* firefox */
  scrollbar-color: #858585 transparent;
  scrollbar-width: thin;
  overflow: auto;

  /* chrome */
  overflow: overlay;
}

.overflow-hidden {
  overflow: hidden
}

.relative {
  position: relative
}

.absolute {
  position: absolute
}

.fixed {
  position: fixed
}

.selectable {
  user-select: text
}

.t05 {
  font-size: 36px
}

.t1 {
  font-size: 32px
}

.t15 {
  font-size: 20px
}

.t2 {
  font-size: 22px
}

.t25 {
  font-size: 20px
}

.t3 {
  font-size: 18px
}

.t4 {
  font-size: 16px
}

.t5 {
  font-size: 14px
}

.t6 {
  font-size: 12px
}

.t65 {
  font-size: 11px
}

.t7 {
  font-size: 10px
}

.t8 {
  font-size: 8px
}

.regular {
  font-weight: 400
}

.medium {
  font-weight: 500
}

.semibold {
  font-weight: 600
}

.extrabold {
  font-weight: 700
}

.gap1{
  gap:1px;
}

.gap4 {
  gap: 4px
}

.gap6 {
  gap: 6px
}

.gap8 {
  gap: 8px
}

.gap10 {
  gap: 10px
}

.light-color {
  color: var(--light-color)
}

.white {
  color: #FFFFFF
}

.layer0 {
  color: var(--layer-0-color)
}

.layer1 {
  color: var(--layer-1-color)
}

.layer2 {
  color: var(--layer-2-color)
}

.layer3 {
  color: var(--layer-3-color)
}

.layer4 {
  color: var(--layer-4-color)
}

.layer5 {
  color: var(--layer-5-color)
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.v-flex {
  display: flex;
  flex-direction: column;
}

.h-flex {
  display: flex;
  flex-wrap: nowrap;
}

.row {
  flex-direction: row
}

.column {
  flex-direction: column
}

.alignitems-center {
  align-items: center
}

.alignitems-start {
  align-items: flex-start
}

.alignitems-end {
  align-items: flex-end
}

.justcont-center {
  justify-content: center
}

.justcont-start {
  justify-content: flex-start
}

.justcont-end {
  justify-content: flex-end
}

.justself-center {
  justify-self: center
}

.alignself-center {
  align-self: center
}

.alignself-end {
  align-self: flex-end
}

.wrap {
  flex-wrap: wrap
}

.justcont-spacebetween {
  justify-content: space-between
}

.justcont-spacearound{
  justify-content: space-around
}

.justcont-flexstart {
  justify-content: flex-start
}

.flex-1 {
  flex: 1;
}

.separator-0 {
  border-bottom: 2px solid;
  border-color: var(--layer-0-color);
}

.separator-1 {
  border-bottom: 2px solid;
  border-color: var(--layer-1-color);
}

.separator-2 {
  border-bottom: 1px solid;
  border-color: var(--layer-2-color);
}

.pointer {
  cursor: pointer
}

.shadow {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(0, 0, 0, 0.25) 1px 4px 12px;
}

.spin {
  /* animation: spin-animation 1s infinite; */
  animation: spin-animation 1s linear infinite;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shake {
  animation: tilt-n-move-shaking 0.3s linear infinite;
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(1px, 1px) rotate(1deg); }
  50% { transform: translate(0, 0) rotate(0deg); }
  75% { transform: translate(-1px, 1px) rotate(-1deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

.pill {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding: 3px 7px;
  gap: 6px;
  border-radius: 4px;
  width: fit-content;
  border-style: solid;
  border-width: 1px;
  /* color: var(--layer-0-color); */
  /* min-width: 20px; */
  /* opacity: 80%; */
}

.pill.filled {
  color: var(--layer-0-color);
  /* border-color: currentColor; */
}

.pill.empty {
  background-color: var(--layer-0-color);
  /* border-color: currentColor; */
}

.pill.new-label {
}

.label {
  align-self: center;
  justify-content: center;
  padding: 3px 7px;
  gap: 6px;
  border-radius: 4px;
  width: fit-content;
  border-style: solid;
  border-width: 1px;
}

.label.selected {
  color: var(--layer-0-color)
}

.label.deselected {
}

.label.editable {
  outline: none;
  background-color: var(--layer-1-color);
  font-family: "Inter";
  padding: 3px 7px;
  min-width: 1px;
}


.hide {
  position: absolute;
  opacity: 0;
  z-index: -100;
  white-space: pre;
}

.figma-main {
  height: inherit
}

.group-info-frame {
  box-sizing: border-box;
  height: 60px;
  padding: 0px 14px 0px 14px;
  justify-content: space-between;
  background-color: var(--layer-0-color);
  color: var(--light-color)
}

.group-options-icon {
  color: var(--layer-6-color);
}

.group-selector,.addExpense-selector {
  color: var(--light-color);
  background-color: var(--layer-1-color);
}

.addExpense-selector {
  height: 100%;
}

.addexpense-input {
  border-radius: 4px;
  padding: 6px 8px;
  outline: none;
  color: white;
  background-color: #121214;
  border-style: none;
  font-family: 'Inter';
}

.tab-switcher {
  height: 48px;
  box-sizing: border-box;
  padding: 0px 14px 3px 14px;
  justify-content: space-between;
}

.tab-switcher a {
  font-weight: 700;
}

.tab-button-active {
  color: var(--light-color);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: var(--base-color);
}

.tab-button-inactive {
  color: var(--layer-5-color);
  text-decoration: none;
}

.tab-button-inactive:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: var(--layer-1-color);
}

.tab-button-inactive:hover {
  color: var(--light-color);
}

.top-radius {
  border-radius: 12px 12px 0px 0px;
}

.expenses-tab {
  background-color: var(--layer-1-color);
  border-style: solid;
  border-width: 1px;
  border-color: var(--layer-1-color);
  box-sizing: content-box;
}

.expense {
  box-sizing: border-box;
  padding: 10px 14px;
  /* height: 100px; */
  height: fit-content;
}

.floating-button {
  position: fixed;
  gap: 2px;
  border-radius: 6px;
  padding: 0px 10px 0px 4px;
  /* width: fit-content; */
  /* height: fit-content; */
  /* right: 52px; */
  bottom: 44px;
  right: 44px;
  /* transform: translateX(50%); */
  color: white;
  background-color: var(--base-color-1);
  border-color: var(--layer-2-color);
  border-width: 1px;
  border-style: solid;
}

.padding4 {
  padding: 4px
}

.padding1812 {
  padding: 18px 12px
}

.padding0014 {
  margin: 0px 14px
}

.padding1010 {
  padding: 10px 10px;
}

.button-11 {
  /* gap: 2px; */
  border-radius: 4px;
  /* padding: 0px 10px 0px 4px; */

  box-sizing: border-box;
  color: var(--light-color);
  background-color: var(--layer-0-color);
  border-color: var(--layer-3-color);
  border-width: 1px;
  border-style: solid;
}

.group-selector-button {
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--light-color);
  background-color: var(--layer-0-color);
  border-color: var(--layer-2-color);
  border-width: 1px;
  border-style: solid;
}

.group-selector-button.highlighted-group {
  color: white;
  background-color: var(--base-color-1);
}

.floating-button {
  font-size: 34px;
}

.floating-button-text {
  font-size: 20px;
}

.expense .icon.ellipsis.vertical {
  color: var(--layer-6-color)
}

.expense-stat {
  gap: 6px;
}

.expense-stat-icon {
  color: var(--layer-3-color);
}

.expense-stat-text {
  color: var(--light-color);
}

.expense-options-icon {
  color: var(--layer-7-color);
}

.expense-tag {
  align-self: center;
  justify-content: center;
  padding: 2px 6px;
  border-radius: 4px;
  color: var(--layer-2-color);
  font-weight: 500;
  width: fit-content;
}

.layer-1-color {
  background-color: var(--layer-1-color);
}

/* Webkit scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
  background-color: var(--layer-3-color);
}

/* No delete */
::-webkit-scrollbar-track {
  /* margin-block: 3px; */
  margin-top: 0px;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-Thin.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}
